@model Net.SSO.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<div class="row">
    @using (Html.BeginForm("Login","Account"))
    {
        @Html.HiddenFor(m => m.BackUrl)
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                @Html.PasswordFor(m => m.Pwd)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button type="submit" class="btn">Sign in</button>
            </div>
        </div>
    }
</div>
